@import './reset.css';
@import './fonts.css';

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Firago';
}

.scroll-container {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

h5 {
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 1.6px;
  /* font-family: 'PTSans'; */
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  position: relative;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    #072142,
    #061c37,
    #07182b,
    #061220,
    #020b16
  );
}

/* wrapper */

.star-container::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-image: url(/public/images/background/star.svg);
  transition: 3000ms;
}
.star-1::after {
  transform: rotate(30deg);
}
.star-2::after {
  transform: rotate(60deg);
}
.star-3::after {
  transform: rotate(90deg);
}

/* nav menu styles */
.navbutton {
  position: relative;
  width: 40px;
  height: 22px;
  cursor: pointer;
}
.navbutton::before {
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  bottom: 0;
}
.navbutton::after {
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  top: 0;
}
.navbutton-active::before {
  bottom: 50% !important;
  transform: rotate(-45deg) translate3d(0, 50%, 0) !important;
}
.navbutton-active::after {
  top: 50% !important;
  transform: rotate(45deg) translate3d(0, -50%, 0) !important;
}

.navmenu {
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
  height: 100vh;
  width: 100%;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.navmenu a {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.navmenu a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  /* background-image: linear-gradient(to right, #072142, #8c2b7a 32%, #ff4d5a); */
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navmenu a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-active {
  width: 2.5rem !important;
}

button {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  filter: hue-rotate(110deg);
}
button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

button span {
  position: absolute;
  display: block;
}
button span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
button span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* Slider */

@-webkit-keyframes translateinfinite {
  100% {
    transform: translateX(calc(-100%));
  }
}
@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-100%));
  }
}

.slider-auto {
  -webkit-animation: translateinfinite 50s linear infinite;
  animation: translateinfinite 50s linear infinite;
  /* width: calc(600px * 4.5); */
}
