.left_wing {
  transform-origin: 43% 0%;
}

.right_wing {
  transform-origin: 55% 5%;
}

.left_wing,
.right_wing {
  transform-box: fill-box;
}

.eye_left,
.eye_right,
.white,
.eyes_wrapper {
  transform-origin: center center;
  transform-box: fill-box;
}

.owl {
  animation: wobble 8s ease-in-out infinite;
  transform-box: fill-box;
  transform-origin: 50% 96%;
}

.owl:nth-child(1) {
  animation-delay: 0.5s;
}

.owl_iris_left,
.owl_iris_right {
  animation-name: eyeMovementAnimation1, eyeMovementAnimation2,
    eyeMovementAnimation3;
  animation-duration: 7000ms, 7000ms, 7000ms;
  animation-delay: 0ms, 7000ms, 14000ms; /* add this */
  animation-timing-function: ease-in, ease-out, ease;
  animation-iteration-count: 1, 1, 1;
}

.eyes_wrapper {
  animation: blink 4s ease-in-out infinite;
  animation-delay: 0.3333333333s;
}

.flyting-active .left_wing {
  animation: shake-left-wing 0.5s infinite;
}
.flyting-active .right_wing {
  animation: shake-right-wing 0.5s infinite;
}
.eyeAnimation1 {
  animation: flyAwayOwl1 7s;
  transform-box: fill-box;
  transform-origin: center center;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3333333333s;
}
.eye_right,
.eye_left {
  transform: rotateX(0deg);
}

@keyframes flyAwayOwl1 {
  20% {
    transform: translate(0, -50px);
  }
  25% {
    transform: translate(0, -45px);
  }
  100% {
    transform: translate(0, -1000px);
  }
}

@keyframes shake-left-wing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shake-right-wing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes blink {
  0% {
    transform: rotateX(0deg);
  }
  5% {
    transform: rotateX(90deg);
  }
  10% {
    transform: rotateX(0deg);
  }
  95% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes wakeUp {
  0% {
    transform: rotateX(90deg);
  }
  5% {
    transform: rotateX(0deg);
  }
  95% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes slightly-move-eyes {
  0% {
    transform: translateX(-1.2px);
  }
  80% {
    transform: translateX(-1.2px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes look-around {
  0% {
    transform: translateX(0px);
  }
  8.3% {
    transform: translateX(-2px);
  }
  16.63% {
    transform: translateX(5px);
  }
  24.9% {
    transform: translateY(4px);
  }
  33.23% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(0px);
  }
}
@keyframes eyeMovementAnimation2 {
  8.3% {
    transform: translate(-2px, 5px);
  }
  16.63% {
    transform: translateX(5px);
  }
  24.9% {
    transform: translate(-4px);
  }
  50% {
    transform: translateX(0px);
  }
}

@keyframes eyeMovementAnimation3 {
  8.3% {
    transform: translate(0, 5px);
  }
  33.23% {
    transform: translate(0, 5px);
  }
  60% {
    transform: translate(0, 5px);
  }
  70% {
    transform: translate(0, -2px);
  }
  90% {
    transform: translate(0, -2px);
  }
  94% {
    transform: translate(0, 0);
  }
}
@keyframes wobble {
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
}
